.buttonlist {
  margin-top: 20px;
  position: absolute;
  top: 0px;
  right: 50px;
}

.buttonlist .buttons button {
  margin: 4px;
  width: 80px;
  border-radius: 20px;
  border: none;
  background-color: snow;
}