.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2px;
  height: 100wvh;
}

.section1 {
  display: flex;
  border-radius: 20px;
}

.section1 .first {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 5px;
  border-radius: 20px;
}


img {
  border-radius: 20px;
  width: 100%;
  height: 410px;
  object-fit: fill;
}

.cover-container img {
  border-radius: 20px;
}


.section1 .second {
  width: 20%;
  height: 100%;
  margin: 5px;
  border-radius: 20px;

}

.section2 {
  display: flex;
  border-radius: 20px;
  margin: 5px;
}

.section2 .first {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  margin: 5px;
}

.section2 .second {
  width: 20%;
  height: 100%;
  border-radius: 20px;
  margin: 5px;
}

.section2 .third {
  width: 20%;
  height: 100%;
  border-radius: 20px;
  margin: 5px;
}

.title .row .card {
  background-image: url("green_furniture.jpg");
}

/* Customize the form styles as needed */
.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}


@media only screen and (max-width: 868px) {


  .section1 {
    display: none;


  }

  .section1 .second {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    padding-right: 5px;
    margin: 0px;
  }


  .section2 {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    padding-right: 5px;
  }

  .section2 .first {
    width: 160%;
    height: 420px;
  }

  .section2 .second {
    width: 120%;
    height: 450px;
  }

  .section2 .third {
    display: none;
  }



  .itemContainer {
    display: flex;
    align-items: center;
  }
}



@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* Styles for tablets */
}

@media only screen and (min-width: 992px) {
  /* Styles for desktops */
}