.sidebar {
  margin: 3px;
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
}

@media only screen and (max-width: 868px) {
  .sidebar {
    position: fixed;
    z-index: 1;
    display: inline-block;
    flex-direction: column;
    top: 5px;
    border: none;
  }

  .sidebar div {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    width: 75px;
    border-radius: 8px;
  }


  .sidebar ul a {
    display: flex;
    background-color: white;
    border: 1px solid black;
  }
}